# Pandas

Cập nhật lần cuối: 11/12/2021

In [ ]:
import pandas as pd
import numpy as np

## Pandas series

In [ ]:
# Tên SV và điểm tương ứng của một môn học nào đó ;-)
names_list = [ 
    "PT", "BV", "HH", "ĐĐ", "HH", "AN", "CN", "DĐ", "DP", "HĐ", 
    "MN", "MT", "PT", "SH", "TN", "TN", "AN", "BN", "BV", "BN", 
    "CN", "CV", "DL", "DT", "ĐN", "ĐN", "HN", "HL", "HV", "HV", 
    "HT", "KĐ", "KV", "LP", "MB", "PH", "PN", "PN", "QV", "QL", 
    "ST", "ST", "ST", "SH", "TN", "TN", "TN", "TB", "TN", "TL", 
    "TL", "TN", "TL", "VH", "VH", "VP", "GT", "KN", "LĐ", "SN" 
]
grades_list = [
    7.0, 0.0, 0.0, 6.5, 0.5, 6.0, 0.0, 0.5, 9.0, 9.0, 
    0.5, 7.5, 0.5, 0.5, 7.5, 0.0, 8.5, 0.5, 9.5,  10, 
    0.5, 9.0, 0.0, 0.5, 5.5, 8.5, 7.0, 9.5, 8.5, 9.0, 
    9.0, 5.0, 9.5, 0.5, 9.5, 0.5, 8.5, 7.5, 9.0, 9.0, 
    9.5, 6.0, 0.0, 9.5, 7.5, 9.5, 6.0, 7.0, 9.0, 9.0, 
    9.0, 0.5, 9.0, 9.5, 9.0, 9.5, 9.0, 0.5, 9.5, 5.5
]

In [ ]:
# Tạo names_series từ names_list

In [ ]:
# Tạo grades_series từ grades_list

Pandas series khác gì với 1D Numpy array?

## Pandas dataframe

Pandas **dataframe** dùng để lưu dữ liệu 2 chiều (dữ liệu dạng table). Đây là cấu trúc dữ liệu thường được dùng trong Khoa Học Dữ Liệu.

So với 2D Numpy array thì Pandas dataframe:
- Cho phép các cột có kiểu dữ liệu khác nhau
- Cho phép truy xuất thông qua tên dòng & cột (bên cạnh chỉ số vị trí dòng & cột như ở Numpy)
- Cung cấp nhiều hơn các toán-tử/hàm/phương-thức để xử lý dữ liệu.

### Đọc dữ liệu từ file vào dataframe

Dữ liệu: [MovieLens 100K Dataset](https://files.grouplens.org/datasets/movielens/ml-latest-small.zip). Có tất cả 4 file csv, trong phần demo bên dưới chỉ dùng 2 file.

Theo [file mô tả dữ liệu](https://files.grouplens.org/datasets/movielens/ml-latest-small-README.html):
>This dataset (ml-latest-small) describes 5-star rating and free-text tagging activity from MovieLens, a movie recommendation service. It contains 100836 ratings and 3683 tag applications across 9742 movies. These data were created by 610 users between March 29, 1996 and September 24, 2018. This dataset was generated on September 26, 2018.
>
>Users were selected at random for inclusion. All selected users had rated at least 20 movies. No demographic information is included. Each user is represented by an id, and no other information is provided.

In [ ]:
# Đọc dữ liệu từ file movies.csv vào dataframe movies_df
# Đọc dữ liệu từ file ratings.csv vào dataframe ratings_df

### Xem nhanh một vài dòng của dataframe

### Xem các thông tin của dataframe

### Truy xuất dữ liệu ở dataframe

#### df.iloc[...]

`df.iloc[r, c]`

- `r` có thể là:
    - Một chỉ số vị trí (0, 1, 2, ...)
    - List/array/series các chỉ số vị trí
    - Slicing theo chỉ số vị trí
    - List/array các giá trị True/False (hiện tại thì `iloc` không chạy được với series True/False)
- `c` tương tự như `r`
- Dùng một chỉ số vị trí (một con số) thì kết quả sẽ bị giảm chiều
    - Nếu hoặc `r` hoặc `c` là một chỉ số vị trí (một con số) thì kết quả là series
    - Nếu cả `r` và `c` đều là một chỉ số vị trí (một con số) thì kết quả là một giá trị

In [ ]:
# Lấy ra phần tử ở dòng có chỉ số vị trí 2 
# và cột có chỉ số vị trí 1 ở movies_df

In [ ]:
# Lấy ra các phần tử ở dòng có chỉ số vị trí 2 và 4 
# và cột có chỉ số vị trí 1 và 2 ở movies_df

In [ ]:
# Lấy ra các phần tử từ dòng có chỉ số vị trí 2 đến 4 
# và từ cột có chỉ số vị trí 1 đến 2 ở movies_df

In [ ]:
# Lấy ra dòng ở chỉ số vị trí 2 của movies_df

In [ ]:
# Lấy ra cột ở chỉ số vị trí 1 của movies_df

In [ ]:
# Lấy ra các dòng của ratings_df mà có rating >= 3 và <= 4

#### df.loc[...]

`df.loc[r, c]`

- `r` có thể là: 
    - Một tên
    - List/array/series các tên
    - Slicing theo tên (khác với slicing theo chỉ số vị trí, slicing theo tên bao gồm cả start **và end**)
    - List/array/series các giá trị True/False (lưu ý, nếu dùng series thì index của series sẽ được dùng để căn với index của `df`) 
- `c` tương tự như `r`
- Dùng một tên thì kết quả sẽ bị giảm chiều
    - Nếu hoặc `r` hoặc `c` là một tên thì kết quả là series
    - Nếu cả `r` và `c` đều là một tên thì kết quả là một giá trị

In [ ]:
# Lấy ra phần tử ở dòng có tên 2 và cột có tên 'title' ở movies_df

In [ ]:
# Lấy ra các phần tử ở dòng có tên 2 và 4 
# và cột có tên 'title' và 'genres' ở movies_df

In [ ]:
# Lấy ra các phần tử từ dòng có tên 2 đến tên 4 
# và từ cột có tên 'title' đến tên 'genres' ở movies_df

In [ ]:
# Lấy ra dòng có tên là 2 của movies_df

In [ ]:
# Lấy ra cột có tên là 'title' của movies_df

In [ ]:
# Lấy ra các dòng của ratings_df mà có rating >= 3 và <= 4

#### df[...]

- `df[tên hoặc list các tên]` là shortcut của `df.loc[:, tên hoặc list các tên]`
- `df[list/array/series các giá trị True/False]` là shortcut của `df.loc[list/array/series các giá trị True/False, :]`
- `df[slicing]` là shortcut của `df.iloc[slicing, :]`

### Thay đổi dữ liệu ở dataframe

### Thay đổi tên dòng/cột ở dataframe

### Thay đổi cột index (cột tên dòng) ở dataframe