# Pandas

Cập nhật lần cuối: 11/12/2021

In [1]:
import pandas as pd
import numpy as np

## Pandas series

In [2]:
# Tên SV và điểm tương ứng của một môn học nào đó ;-)
names_list = [ 
    "PT", "BV", "HH", "ĐĐ", "HH", "AN", "CN", "DĐ", "DP", "HĐ", 
    "MN", "MT", "PT", "SH", "TN", "TN", "AN", "BN", "BV", "BN", 
    "CN", "CV", "DL", "DT", "ĐN", "ĐN", "HN", "HL", "HV", "HV", 
    "HT", "KĐ", "KV", "LP", "MB", "PH", "PN", "PN", "QV", "QL", 
    "ST", "ST", "ST", "SH", "TN", "TN", "TN", "TB", "TN", "TL", 
    "TL", "TN", "TL", "VH", "VH", "VP", "GT", "KN", "LĐ", "SN" 
]
grades_list = [
    7.0, 0.0, 0.0, 6.5, 0.5, 6.0, 0.0, 0.5, 9.0, 9.0, 
    0.5, 7.5, 0.5, 0.5, 7.5, 0.0, 8.5, 0.5, 9.5,  10, 
    0.5, 9.0, 0.0, 0.5, 5.5, 8.5, 7.0, 9.5, 8.5, 9.0, 
    9.0, 5.0, 9.5, 0.5, 9.5, 0.5, 8.5, 7.5, 9.0, 9.0, 
    9.5, 6.0, 0.0, 9.5, 7.5, 9.5, 6.0, 7.0, 9.0, 9.0, 
    9.0, 0.5, 9.0, 9.5, 9.0, 9.5, 9.0, 0.5, 9.5, 5.5
]

In [3]:
# Tạo names_series từ names_list
names_series = pd.Series(names_list)
names_series.head()

0    PT
1    BV
2    HH
3    ĐĐ
4    HH
dtype: object

In [4]:
# Tạo grades_series từ grades_list
grades_series = pd.Series(grades_list)
grades_series.head()

0    7.0
1    0.0
2    0.0
3    6.5
4    0.5
dtype: float64

Pandas series khác gì với 1D Numpy array?

In [5]:
# Pandas series có nhiều hơn các hàm/toán-tử/phương-thức 
# Ví dụ, để tính các đại lượng thống kê mô tả của grades_series:
grades_series.describe()

count    60.000000
mean      5.891667
std       3.845636
min       0.000000
25%       0.500000
50%       7.500000
75%       9.000000
max      10.000000
dtype: float64

In [6]:
# Pandas series ngoài truy xuất các phần tử thông qua 
# chỉ số vị trí giống như 1D Numpy array thì còn có thể truy xuất
# thông qua tên của phần tử (Pandas gọi tên là index)
grades_series = pd.Series(grades_list, index=names_list)
print(grades_series.head())
print()
print(grades_series.iloc[3])
print(grades_series.loc['ĐĐ'])
# print(grades_series[3])
# print(grades_series['ĐĐ'])

PT    7.0
BV    0.0
HH    0.0
ĐĐ    6.5
HH    0.5
dtype: float64

6.5
6.5

In [7]:
grades_series.index

Index(['PT', 'BV', 'HH', 'ĐĐ', 'HH', 'AN', 'CN', 'DĐ', 'DP', 'HĐ', 'MN', 'MT',
       'PT', 'SH', 'TN', 'TN', 'AN', 'BN', 'BV', 'BN', 'CN', 'CV', 'DL', 'DT',
       'ĐN', 'ĐN', 'HN', 'HL', 'HV', 'HV', 'HT', 'KĐ', 'KV', 'LP', 'MB', 'PH',
       'PN', 'PN', 'QV', 'QL', 'ST', 'ST', 'ST', 'SH', 'TN', 'TN', 'TN', 'TB',
       'TN', 'TL', 'TL', 'TN', 'TL', 'VH', 'VH', 'VP', 'GT', 'KN', 'LĐ', 'SN'],
      dtype='object')

In [8]:
grades_series.values

array([ 7. ,  0. ,  0. ,  6.5,  0.5,  6. ,  0. ,  0.5,  9. ,  9. ,  0.5,
        7.5,  0.5,  0.5,  7.5,  0. ,  8.5,  0.5,  9.5, 10. ,  0.5,  9. ,
        0. ,  0.5,  5.5,  8.5,  7. ,  9.5,  8.5,  9. ,  9. ,  5. ,  9.5,
        0.5,  9.5,  0.5,  8.5,  7.5,  9. ,  9. ,  9.5,  6. ,  0. ,  9.5,
        7.5,  9.5,  6. ,  7. ,  9. ,  9. ,  9. ,  0.5,  9. ,  9.5,  9. ,
        9.5,  9. ,  0.5,  9.5,  5.5])

In [9]:
# Tìm SV có điểm cao nhất
# In ra tên của SV và điểm tương ứng
max_index = grades_series.idxmax()
print(max_index)
print()
print(grades_series.loc[max_index]) # Ra không đúng 
                                    # do có SV trùng tên

BN

BN     0.5
BN    10.0
dtype: float64

In [10]:
# Tìm SV có điểm cao nhất
# In ra tên của SV và điểm tương ứng
max_position = grades_series.argmax()
print(grades_series.index[max_position])
print(grades_series.iloc[max_position])

BN
10.0

In [11]:
# Cộng 2 series khác với cộng 2 array
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([30, 20, 10], index=['c', 'b', 'a'])
# s1.values + s2.values
s1 + s2

a    11
b    22
c    33
dtype: int64

In [12]:
# Cộng 2 series khác với cộng 2 array
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([4, 5, 6, 7], index=['b', 'c', 'd', 'e'])
# s1.values + s2.values
s1 + s2

a    NaN
b    6.0
c    8.0
d    NaN
e    NaN
dtype: float64

## Pandas dataframe

Pandas **dataframe** dùng để lưu dữ liệu 2 chiều (dữ liệu dạng table). Đây là cấu trúc dữ liệu thường được dùng trong Khoa Học Dữ Liệu.

So với 2D Numpy array thì Pandas dataframe:
- Cho phép các cột có kiểu dữ liệu khác nhau
- Cho phép truy xuất thông qua tên dòng & cột (bên cạnh chỉ số vị trí dòng & cột như ở Numpy)
- Cung cấp nhiều hơn các toán-tử/hàm/phương-thức để xử lý dữ liệu.

### Đọc dữ liệu từ file vào dataframe

Dữ liệu: [MovieLens 100K Dataset](https://files.grouplens.org/datasets/movielens/ml-latest-small.zip). Có tất cả 4 file csv, trong phần demo bên dưới chỉ dùng 2 file.

Theo [file mô tả dữ liệu](https://files.grouplens.org/datasets/movielens/ml-latest-small-README.html):
>This dataset (ml-latest-small) describes 5-star rating and free-text tagging activity from MovieLens, a movie recommendation service. It contains 100836 ratings and 3683 tag applications across 9742 movies. These data were created by 610 users between March 29, 1996 and September 24, 2018. This dataset was generated on September 26, 2018.
>
>Users were selected at random for inclusion. All selected users had rated at least 20 movies. No demographic information is included. Each user is represented by an id, and no other information is provided.

In [13]:
# Đọc dữ liệu từ file movies.csv vào dataframe movies_df
# Đọc dữ liệu từ file ratings.csv vào dataframe ratings_df
# Ở đây, mình đặt các file csv trong thư mục Data/ml-25m
movies_df = pd.read_csv('Data/ml-latest-small/movies.csv')
ratings_df = pd.read_csv('Data/ml-latest-small/ratings.csv')

### Xem nhanh một vài dòng của dataframe

In [14]:
# Xem vài dòng đầu
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
# Xem vài dòng cuối
movies_df.tail(3)

      movieId                                title            genres
9739   193585                         Flint (2017)             Drama
9740   193587  Bungo Stray Dogs: Dead Apple (2018)  Action|Animation
9741   193609  Andrew Dice Clay: Dice Rules (1991)            Comedy

In [16]:
# Xem vài dòng ngẫu nhiên
movies_df.sample(5)

      movieId                   title          genres
5550    26686        Ghost Dad (1990)  Comedy|Fantasy
4369     6390   Silk Stockings (1957)         Musical
3895     5471          Perfect (1985)   Drama|Romance
4456     6579  One, Two, Three (1961)          Comedy
7788    91935        Albatross (2011)           Drama

In [17]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

### Xem các thông tin của dataframe

In [18]:
# Xem số dòng
len(movies_df)

9742

In [19]:
# Xem số dòng và số cột
movies_df.shape

(9742, 3)

In [20]:
# Xem tên của các cột
movies_df.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [21]:
# Xem tên của các dòng
movies_df.index

RangeIndex(start=0, stop=9742, step=1)

In [22]:
# Xem kiểu dữ liệu của các cột
movies_df.dtypes

movieId     int64
title      object
genres     object
dtype: object

In [23]:
# Xem phần dữ liệu của dataframe, kết quả sẽ là một Numpy array
# Hiện tại thì ở bên dưới dataframe lưu trữ bằng cách gom các
# cột có cùng kiểu dữ liệu vào một Numpy array. Do đó:
# - Nếu tất cả các cột của dataframe có cùng kiểu dữ liệu
#   thì array được lấy ra chính là array bên dưới của dataframe
# - Ngược lại thì array được lấy ra là một array được tạo mới 
#   với dtype là object (con trỏ trỏ tới một đối tượng Python 
#   bất kỳ)
movies_df.values

array([[1, 'Toy Story (1995)',
        'Adventure|Animation|Children|Comedy|Fantasy'],
       [2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'],
       [3, 'Grumpier Old Men (1995)', 'Comedy|Romance'],
       ...,
       [193585, 'Flint (2017)', 'Drama'],
       [193587, 'Bungo Stray Dogs: Dead Apple (2018)',
        'Action|Animation'],
       [193609, 'Andrew Dice Clay: Dice Rules (1991)', 'Comedy']],
      dtype=object)

In [24]:
movies_df.values[0, 0] = 99

In [25]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [26]:
df = pd.DataFrame(np.arange(6).reshape(2, 3))
df

   0  1  2
0  0  1  2
1  3  4  5

In [27]:
df.to_numpy()[0, 0] = 99

In [28]:
df

    0  1  2
0  99  1  2
1   3  4  5

In [29]:
# Xem tất cả cùng một lúc!
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [30]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

### Truy xuất dữ liệu ở dataframe

#### df.iloc[...]

`df.iloc[r, c]`

- `r` có thể là:
    - Một chỉ số vị trí (0, 1, 2, ...)
    - List/array/series các chỉ số vị trí
    - Slicing theo chỉ số vị trí
    - List/array các giá trị True/False (hiện tại thì `iloc` không chạy được với series True/False)
- `c` tương tự như `r`
- Dùng một chỉ số vị trí (một con số) thì kết quả sẽ bị giảm chiều
    - Nếu hoặc `r` hoặc `c` là một chỉ số vị trí (một con số) thì kết quả là series
    - Nếu cả `r` và `c` đều là một chỉ số vị trí (một con số) thì kết quả là một giá trị

In [31]:
# Lấy ra phần tử ở dòng có chỉ số vị trí 2 
# và cột có chỉ số vị trí 1 ở movies_df
movies_df.iloc[2, 1]

'Grumpier Old Men (1995)'

In [32]:
# Lấy ra các phần tử ở dòng có chỉ số vị trí 2 và 4 
# và cột có chỉ số vị trí 1 và 2 ở movies_df
movies_df.iloc[[2, 4], [1, 2]]

                                title          genres
2             Grumpier Old Men (1995)  Comedy|Romance
4  Father of the Bride Part II (1995)          Comedy

In [33]:
movies_df.values[[2, 4], [1, 2]]

array(['Grumpier Old Men (1995)', 'Comedy'], dtype=object)

In [34]:
# Lấy ra các phần tử từ dòng có chỉ số vị trí 2 đến 4 
# và từ cột có chỉ số vị trí 1 đến 2 ở movies_df
movies_df.iloc[2:5, 1:3]

                                title                genres
2             Grumpier Old Men (1995)        Comedy|Romance
3            Waiting to Exhale (1995)  Comedy|Drama|Romance
4  Father of the Bride Part II (1995)                Comedy

In [35]:
# Lấy ra dòng ở chỉ số vị trí 2 của movies_df
# movies_df.iloc[2, :] # Hoặc: movies_df.iloc[2]
# movies_df.iloc[[2], :]
movies_df.iloc[2:3, :]

   movieId                    title          genres
2        3  Grumpier Old Men (1995)  Comedy|Romance

In [36]:
# Lấy ra cột ở chỉ số vị trí 1 của movies_df
# movies_df.iloc[:, 1]
# movies_df.iloc[:, [1]]
movies_df.iloc[:, 1:2]

                                          title
0                              Toy Story (1995)
1                                Jumanji (1995)
2                       Grumpier Old Men (1995)
3                      Waiting to Exhale (1995)
4            Father of the Bride Part II (1995)
...                                         ...
9737  Black Butler: Book of the Atlantic (2017)
9738               No Game No Life: Zero (2017)
9739                               Flint (2017)
9740        Bungo Stray Dogs: Dead Apple (2018)
9741        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 1 columns]

In [37]:
# Lấy ra các dòng của ratings_df mà có rating >= 3 và <= 4
rating = ratings_df.iloc[:, 2]
rating = rating.values
ratings_df.iloc[(rating >= 3) & (rating <= 4), :]

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
5            1       70     3.0   964982400
7            1      110     4.0   964982176
...        ...      ...     ...         ...
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100835     610   170875     3.0  1493846415

[60001 rows x 4 columns]

#### df.loc[...]

`df.loc[r, c]`

- `r` có thể là: 
    - Một tên
    - List/array/series các tên
    - Slicing theo tên (khác với slicing theo chỉ số vị trí, slicing theo tên bao gồm cả start **và end**)
    - List/array/series các giá trị True/False (lưu ý, nếu dùng series thì index của series sẽ được dùng để căn với index của `df`) 
- `c` tương tự như `r`
- Dùng một tên thì kết quả sẽ bị giảm chiều
    - Nếu hoặc `r` hoặc `c` là một tên thì kết quả là series
    - Nếu cả `r` và `c` đều là một tên thì kết quả là một giá trị

In [38]:
# Lấy ra phần tử ở dòng có tên 2 và cột có tên 'title' ở movies_df
movies_df.loc[2, 'title']

'Grumpier Old Men (1995)'

In [39]:
# Lấy ra các phần tử ở dòng có tên 2 và 4 
# và cột có tên 'title' và 'genres' ở movies_df
movies_df.loc[[2, 4], ['title', 'genres']]

                                title          genres
2             Grumpier Old Men (1995)  Comedy|Romance
4  Father of the Bride Part II (1995)          Comedy

In [40]:
# Lấy ra các phần tử từ dòng có tên 2 đến tên 4 
# và từ cột có tên 'title' đến tên 'genres' ở movies_df
movies_df.loc[2:4, 'title':'genres']

                                title                genres
2             Grumpier Old Men (1995)        Comedy|Romance
3            Waiting to Exhale (1995)  Comedy|Drama|Romance
4  Father of the Bride Part II (1995)                Comedy

In [41]:
# Lấy ra dòng có tên là 2 của movies_df
# movies_df.loc[2, :]
# movies_df.loc[[2], :]
movies_df.loc[2:2, :]

   movieId                    title          genres
2        3  Grumpier Old Men (1995)  Comedy|Romance

In [42]:
# Lấy ra cột có tên là 'title' của movies_df
# movies_df.loc[:, 'title']
# movies_df.loc[:, ['title']]
movies_df.loc[:, 'title':'title']

                                          title
0                              Toy Story (1995)
1                                Jumanji (1995)
2                       Grumpier Old Men (1995)
3                      Waiting to Exhale (1995)
4            Father of the Bride Part II (1995)
...                                         ...
9737  Black Butler: Book of the Atlantic (2017)
9738               No Game No Life: Zero (2017)
9739                               Flint (2017)
9740        Bungo Stray Dogs: Dead Apple (2018)
9741        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 1 columns]

In [43]:
# Lấy ra các dòng của ratings_df mà có rating >= 3 và <= 4
rating = ratings_df.loc[:, 'rating']
ratings_df.loc[(rating >= 3) & (rating <= 4), :]

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
5            1       70     3.0   964982400
7            1      110     4.0   964982176
...        ...      ...     ...         ...
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100835     610   170875     3.0  1493846415

[60001 rows x 4 columns]

#### df[...]

- `df[tên hoặc list các tên]` là shortcut của `df.loc[:, tên hoặc list các tên]`
- `df[list/array/series các giá trị True/False]` là shortcut của `df.loc[list/array/series các giá trị True/False, :]`
- `df[slicing]` là shortcut của `df.iloc[slicing, :]`

In [44]:
movies_df['title']

0                                Toy Story (1995)
1                                  Jumanji (1995)
2                         Grumpier Old Men (1995)
3                        Waiting to Exhale (1995)
4              Father of the Bride Part II (1995)
                          ...
9737    Black Butler: Book of the Atlantic (2017)
9738                 No Game No Life: Zero (2017)
9739                                 Flint (2017)
9740          Bungo Stray Dogs: Dead Apple (2018)
9741          Andrew Dice Clay: Dice Rules (1991)
Name: title, Length: 9742, dtype: object

In [45]:
ratings_df[ratings_df['rating'] > 4]

        userId  movieId  rating   timestamp
3            1       47     5.0   964983815
4            1       50     5.0   964982931
6            1      101     5.0   964980868
8            1      151     5.0   964984041
9            1      157     5.0   964984100
...        ...      ...     ...         ...
100821     610   160527     4.5  1479544998
100829     610   164179     5.0  1493845631
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352

[21762 rows x 4 columns]

In [46]:
ratings_df[1:3]

   userId  movieId  rating  timestamp
1       1        3     4.0  964981247
2       1        6     4.0  964982224

### Thay đổi dữ liệu ở dataframe

df.iloc[...] =

df.loc[...] = 

df[...] = 

Các cách làm này sẽ không có vấn đề gì. Bây giờ ta hãy xem một ví dụ mà sẽ xảy ra vấn đề.

In [47]:
# Tạo ra một bản copy (deep copy) của ratings_df để thử nghiệm
df = ratings_df.copy()

In [48]:
# Lấy ra một dataframe gồm các dòng có rating bằng 5
# rồi sửa lại rating thành 4.9
df.loc[df['rating'] == 5]['rating'] = 4.9

# df có thay đổi không?
df

/tmp/ipykernel_9977/3994559767.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['rating'] == 5]['rating'] = 4.9

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

Lý do `df` không thay đổi là vì câu lệnh thay đổi rating ở trên gồm 2 bước:

1. Truy xuất `df` để lấy ra dataframe gồm các dòng có rating bằng 5. Trong Pandas thường là không biết chắc được kết quả truy xuất là view hay là copy của dataframe ban đầu. Trong ví dụ ở trên, kết quả truy xuất là copy.
2. Thay đổi rating trên kết quả truy xuất. Vì kết quả truy xuất là copy của `df` nên `df` sẽ không bị thay đổi.

Để thay đổi `df` thì ta đừng cho tách thành 2 bước với kết quả trung gian:

In [49]:
df.loc[df['rating'] == 5, 'rating'] = 4.9
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     4.9   964983815
4            1       50     4.9   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     4.9  1493850091
100833     610   168250     4.9  1494273047
100834     610   168252     4.9  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

### Thay đổi tên dòng/cột ở dataframe

Đổi tên một vài dòng/cột

In [50]:
movies_df.rename(columns={'title': 'Title', 'genres': 'Genres'})

,movieId,Title,Genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

Đổi tên tất cả các dòng/cột theo một qui luật nào đó

In [51]:
df = pd.DataFrame(np.arange(20).reshape(2, 10), 
                  columns=['Col ' + str(i) for i in range(10)])
df

   Col 0  Col 1  Col 2  Col 3  Col 4  Col 5  Col 6  Col 7  Col 8  Col 9
0      0      1      2      3      4      5      6      7      8      9
1     10     11     12     13     14     15     16     17     18     19

In [52]:
def convert_name(old_name):
    return old_name.replace(' ', '_')
df.rename(columns=convert_name)

   Col_0  Col_1  Col_2  Col_3  Col_4  Col_5  Col_6  Col_7  Col_8  Col_9
0      0      1      2      3      4      5      6      7      8      9
1     10     11     12     13     14     15     16     17     18     19

### Thay đổi cột index (cột tên dòng) ở dataframe

In [53]:
# Cho cột movieId từ cột thường thành cột index
df = movies_df.set_index('movieId')
df

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [54]:
# Cho cột title từ cột thường thành cột index
# và cột movieId thì cột index thành cột thường
df.reset_index().set_index('title')

,movieId,genres
title,,
Toy Story (1995),1,Adventure|Animation|Children|Comedy|Fantasy
Jumanji (1995),2,Adventure|Children|Fantasy
Grumpier Old Men (1995),3,Comedy|Romance
Waiting to Exhale (1995),4,Comedy|Drama|Romance
Father of the Bride Part II (1995),5,Comedy
...,...,...
Black Butler: Book of the Atlantic (2017),193581,Action|Animation|Comedy|Fantasy
No Game No Life: Zero (2017),193583,Animation|Comedy|Fantasy
Flint (2017),193585,Drama
Bungo Stray Dogs: Dead Apple (2018),193587,Action|Animation
Andrew Dice Clay: Dice Rules (1991),193609,Comedy